Package: com.orangebananaspy.libobsutilities
Name: libOBSUtilities
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: This library contains the basic utilities needed to build many tweaks
Maintainer: Orangebananaspy
Author: Orangebananaspy
Section: System
Tag: role::developer
